<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_web_search"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoDisplay"
        tools:targetApi="31">


        <activity
            android:name=".SimpleGoogleSearchActivity"
            android:exported="true"
            android:label="@string/web_search"
            android:description="@string/web_search_description"
            android:icon="@mipmap/ic_web_search"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ExactGoogleSearchActivity"
            android:exported="true"
            android:label="@string/exact_web_search"
            android:description="@string/exact_web_search_description"
            android:icon="@mipmap/ic_exact_web_search"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>


    </application>

</manifest>